<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="samsung.spring.musicgram.dao.ContentsMapper">
	<select id="getContent" resultType="contents">
		select * from contents where content_no = #{content_no}
	</select>

	<select id="getContents" resultType="contents">
		select * from contents
	</select>

	<delete id="deleteContent" parameterType="java.lang.Integer">
		delete from contents where content_no = #{content_no}
	</delete>

	<update id="updateContent" parameterType="contents">
		update contents	set 
		youtube_url = #{youtube_url},
		text = #{text},
		genre = #{genre},
		tag = #{tag}
		where content_no = #{content_no}
	</update>

	<insert id="createContent" parameterType="contents">
		insert into contents values(
		content_seq.nextval, 
		#{user_id}, 
		#{youtube_url},
		#{text},
		#{genre},
		#{tag},
		0,
		sysdate)
	</insert>
</mapper>
