<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="samsung.spring.musicgram.dao.PicMapper">
	<select id="getPic" resultType="pic">
		select * from pic where user_id = #{user_id}
	</select>

	<update id="updatePic" parameterType="pic">
		update pic set
		file_name = #{file_name},
		file_size = #{file_size},
		file_data = #{file_data}
		where user_pic_no = #{user_pic_no}
	</update>

	<update id="deletePic" parameterType="java.lang.String">
		update pic set
		file_name = 'default.png',
		file_size = 0,
		file_data = 'a'
		where user_id = #{user_id}
	</update>
</mapper>
