<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="samsung.spring.musicgram.dao.PicMapper">
	<select id="getPic" resultType="pic">
		select * from pic where user_id = #{user_id}
	</select>

	<insert id="addPic" parameterType="pic">
		insert into pic
		values(
		pic_seq.nextval,
		#{user_id},
		#{file_name},
		#{file_size},
		#{file_data})
	</insert>

	<update id="updatePic" parameterType="pic">
		update pic set
		file_name = #{file_name},
		file_size = #{file_size},
		file_data = #{file_data}
		where user_pic_no = #{user_pic_no}
	</update>

	<update id="deletePic">
		update pic set
		file_name = "default.png"
		file_size = ""
		file_data = ""
		where user_pic_no = #{user_pic_no}
	</update>
</mapper>
