<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="samsung.spring.musicgram.dao.UsersMapper">

	<insert id="join" parameterType="samsung.spring.musicgram.dto.Users">
		insert into users values(#{user_id}, #{password}, #{email},#{description})
	</insert>
	
	<select id="getUser" resultType="samsung.spring.musicgram.dto.Users">
		select user_id, password, email, description from users where user_id=#{user_id}
	</select>
	
	<select id="loginUser" resultType="samsung.spring.musicgram.dto.Users">
		select * from users where user_id=#{user_id} and password=#{password}
	</select>
	
	<update id="updateUser" parameterType="samsung.spring.musicgram.dto.Users">
		update users 
		set password = #{password}, description = #{description}
		where user_id=#{user_id}
	</update>
	
	<select id ="findPw" resultType="samsung.spring.musicgram.dto.Users">
		select * from users where user_id = #{user_id} and email = #{email}
	</select>
	
	<update id="getTempPw" parameterType="samsung.spring.musicgram.dto.Users">
		update users 
		set password = #{password}
		where user_id=#{user_id} and email=#{email}
	</update>
	
	<delete id="deleteUser">
		delete users where user_id = #{user_id}
	</delete>
</mapper>