@charset "UTF-8";


.form_container{
    width: 370px;
    margin: 0 auto

}

.form_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}

.form h3{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
}

.form .logo_login {
	margin: 40px auto;
	display: block;
}

.form .logo_join {
	margin: 40px auto 22px;
	display: block;
}

.form .join_msg {
	text-align: center;
	margin: 25px auto 20px;
	font-size: 16px;
	line-height: 20px;
	color: #888;
	font-weight: 800;
}

.form .findpw_msg {
	text-align: center;
	line-height: 20px;
	margin: 25px auto;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}

.form .title {
    overflow: hidden;
    text-indent: 110%;
    margin: 22px auto 8px;
}


.form label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form input{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 10px 8px 10px;
}

.form hr{
	margin-bottom: 25px;
	border: 0.3px solid #e6e6e6;
}

.form p{
    margin-bottom: 8px;
}


.form #errMsg{
	color: red;
	font-size:14px;
	margin-top: 10px;
}

.form .submit_btn{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 145x;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 100%;
    padding: 1px;
    margin-top: 10px;
    margin-bottom:20px;
    cursor: pointer;
}

.form .lost_pw{
	text-align: center;
	color: #262626;
	font-size: 13px;
	margin: 0 auto;
}

.agree_msg {
	text-align: center;
	font-size: 13px;
	color: #888;
	margin: 0 auto;
	margin-top: 3px;
}

.bottom_box{
    text-align: center;
    /*height: 290px;*/
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px 40px;
    font-size: 15px;
    /*display: flex;*/
    /*align-items: center;*/
}
